$indent: 36px;

.ap {
    * {
        line-height: 1.75rem;
    }

    ul {
        list-style: none;
    }

    .ui.table {
        & td {
            border-color: transparent;
        }
    }

    &__list {
        margin-top: 0;
        margin-left: 0;
        padding-left: $indent;
    }

    &__block > * {
        display: block;
    }

    &--bold {
        font-weight: bolder;
    }

    &--small {
        font-size: .9rem;
    }

    &--big {
        font-size: 1.1rem;
    }

    &--center {
        text-align: center;
    }

    &--justify {
        text-align: justify;
    }

    &--indent {
        text-indent: $indent;
    }

    &--m-0 {
        margin: 0;
    }

    &--m-1,
    &--mt-1 {
        margin-top: 8px;
    }

    &--m-1,
    &--mb-1 {
        margin-bottom: 8px;
    }

    &--m-2,
    &--mt-2 {
        margin-top: 16px;
    }

    &--m-2,
    &--mb-2 {
        margin-bottom: 16px;
    }

    &--m-3,
    &--mt-3 {
        margin-top: 24px;
    }

    &--m-3,
    &--mb-3 {
        margin-bottom: 24px;
    }
}